@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans TC", sans-serif;
    color: var(--text-color);
}


:root {
    /* color */
    --text-color: #4B4948;
    --bgc-b-color: #00376A;
    --bgc-w-color: #ffffff;
    --primary-color: #00519C;
    --primary-300-color: #5289BC;
    --primary-400-color: #296DAC;
    --primary-light-color: #DEE8F2;
    --gray-50-light-color: #e0e0e020;
    --gray-50-color: #e0e0e0;
    --gray-300-color: #B5B5B5;
    --gray-600-color: #7B7B7B;
    /* font-family */
    --bold-font-weight: 700;
    --semi-bold-font-weight: 500;
    --Regular-font-weight: 400;
}

/* modal-ticket */

.modal-ticket .delete {
    background-color: var(--bgc-w-color);
    border: none;
    color: rgb(201, 46, 46);
    font-size: 1rem;
}

.modal-footer button:nth-child(2) {
    color: var(--bgc-w-color);
    background-color: var(--primary-color);

}

.modal-ticket .train {
    font-size: .75rem;
    padding: .25rem .5rem;
    background-color: var(--primary-400-color);
    color: var(--bgc-w-color);
    border: none;
    border-radius: .25rem;
}

.modal-ticket .date {
    margin-bottom: .75rem;
}

.modal-ticket h6 {
    font-weight: var(--semi-bold-font-weight);
}

.passenger p {
    font-size: .75rem;
    color: var(--primary-color);
    margin-bottom: 0;
}

/* onfirm-ticket */
.currency {
    margin: 0;
}

.checkout-btn {
    background-color: var(--primary-color);
    padding: 16px 24px;
    color: var(--bgc-w-color);
    border-radius: .375rem;
    border: none;
}

.checkout-btn h6 {
    color: var(--bgc-w-color);
    font-weight: var(--semi-bold-font-weight);
}

.confirm-btn {
    background-color: var(--primary-light-color);
    padding: 16px 24px;
    color: var(--bgc-w-color);
    border-radius: .375rem;
    border: none;
}

.confirm-btn h6 {
    color: var(--primary-color);
    font-weight: var(--semi-bold-font-weight);
}

.confirm-ticket {
    background-color: var(--bgc-w-color);
}

.confirm-ticket>div {
    background-color: var(--gray-50-light-color);
    padding: .625rem 1.5rem;
}

/* display-card */

.ticket {
    border-bottom: var(--gray-50-color) solid 1px;

}

.ticket-item:nth-child(1) i {
    color: var(--gray-600-color);
    font-size: 1.25rem;
}

.ticket-item:nth-child(3) button:nth-child(1) {
    background-color: var(--primary-color);
    padding: 8px 12px;
    color: var(--bgc-w-color);
    border-radius: .375rem;
}

.ticket-item:nth-child(3) button:nth-child(2) {
    padding: 8px 12px;
    color: var(--primary-color);
    border-radius: .375rem;
    border: var(--primary-color) solid 1px;
}

.spend-time {
    color: var(--gray-600-color);
    margin-bottom: 0;
}

.location p,
h5,
h6,
h4 {
    margin-bottom: 0;
    color: var(--text-color);
}

.ticket-content p,
a {
    font-size: .75rem;
}

.ticket-item a {
    color: var(--primary-color);
}

.screening-left a {
    font-size: .75rem;
    color: var(--primary-color);
}

/* 車票第三張，無法全顯示？ */
.display-card {
    background-color: var(--bgc-w-color);
    height: 100%;
    margin-top: 1.25rem;
    /* margin-bottom: 6.25rem; */
}

.display-box {
    height: 100%;

}


.display-card button,
.screening-left button {
    font-size: .75rem;
    border: none;
    background-color: #fff0;
    color: var(--text-color);
}

/* screening-bar */
.screening-bar {
    background-color: var(--gray-50-light-color);
    border-bottom: var(--gray-50-color) solid 1px;
    padding: .5rem 1rem;
}



/* bookingForm */
#bookingForm .form-label {
    color: var(--gray-600-color);
    font-weight: var(--semi-bold-font-weight);
}

.form-control,
.form-select {
    font-size: .75rem;
    color: var(--gray-300-color);
}

/* 沒反應？
.form-control:active,
.form-select:active {
    color: var(--text-color);
} */

#bookingForm .form-check-input:checked {
    background-color: var(--primary-color);
    border-color: var(--primary-color)
}

#bookingForm .form-check-label {
    font-size: .75rem;
    color: var(--text-color);
}

#bookingForm .btn {
    color: var(--text-color);
    font-weight: var(--bold-font-weight);
}

.breadcrumb-item {
    display: flex;
    align-items: center;
}

/* search  breadcrumb*/
.search .breadcrumb-item.active:nth-child(4) {
    font-size: .75rem;
    font-weight: var(--Regular-font-weight);
    color: var(--gray-300-color)
}

.search .breadcrumb-item.active:nth-child(3) {
    font-size: .75rem;
    font-weight: var(--Regular-font-weight);
    color: var(--gray-300-color)
}

.search .breadcrumb-item a {
    font-size: .75rem;
    font-weight: var(--Regular-font-weight);
    color: var(--primary-color);
    text-decoration: none;
    line-height: 1px;
}

.search .breadcrumb-item.active:nth-child(1) {
    font-size: .75rem;
    font-weight: var(--Regular-font-weight);
    color: var(--text-color)
}

.container {
    padding: 1.5rem;
}

/* search */
.search {
    background-color: var(--bgc-w-color);
    padding: 1rem;

}

/* header */
header nav {
    height: 6.25rem;
}

/* main */

main {
    height: 100%;
    padding-top: 3.125rem;
    padding-bottom: 20%;
}

main h4 {
    font-weight: var(--bold-font-weight);
}

.bg {
    position: absolute;
    background-color: var(--bgc-b-color);
    height: 35.75rem;
    width: 100%;
    z-index: -1;
}

main .container {
    height: 100%;
}

.navbar-toggler-icon {
    color: var(--text-color);
}

@media screen and (min-width: 767px) {}

@media screen and (min-width: 1200px) {}