@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans TC", sans-serif;
    color: var(--text-color);
}


:root {
    /* color */
    --text-color: #4B4948;
    --bgc-b-color: #00376A;
    --bgc-w-color: #ffffff;
    --primary-color: #00519C;
    --primary-300-color: #5289BC;
    --primary-400-color: #296DAC;
    --primary-light-color: #DEE8F2;
    --gray-50-light-color: #e0e0e020;
    --gray-50-color: #e0e0e0;
    --gray-300-color: #B5B5B5;
    --gray-600-color: #7B7B7B;
    /* font-family */
    --bold-font-weight: 700;
    --semi-bold-font-weight: 500;
    --Regular-font-weight: 400;
}

/* modal-ticket */
.modal-ticket {
    border-bottom: var(--gray-50-color) solid 1px;
    padding: 1rem 0;
}

.modal-ticket .delete {
    background-color: var(--bgc-w-color);
    border: none;
    color: rgb(201, 46, 46);
    font-size: 1rem;
}

.modal-footer button:nth-child(2) {
    color: var(--bgc-w-color);
    background-color: var(--primary-color);

}

.modal-ticket .train {
    font-size: .75rem;
    padding: .25rem .5rem;
    background-color: var(--primary-400-color);
    color: var(--bgc-w-color);
    border: none;
    border-radius: .25rem;
}

.modal-ticket .date {
    margin-bottom: .75rem;
}

.modal-ticket h6 {
    font-weight: var(--semi-bold-font-weight);
}

.passenger p {
    font-size: .75rem;
    color: var(--primary-color);
    margin-bottom: 0;
}

.passenger-pc,
.train-pc {
    display: none;
}

/* onfirm-ticket */
.currency {
    margin: 0;
}

.btn-checkout {
    background-color: var(--primary-color);
    padding: 16px 24px;
    color: var(--bgc-w-color);
    border-radius: .375rem;
    border: none;
}

.btn-checkout h6 {
    color: var(--bgc-w-color);
    font-weight: var(--semi-bold-font-weight);
}

.confirm-btn {
    background-color: var(--primary-light-color);
    padding: 16px 24px;
    color: var(--bgc-w-color);
    border-radius: .375rem;
    border: none;
}

.confirm-btn h6 {
    color: var(--primary-color);
    font-weight: var(--semi-bold-font-weight);
}

.confirm-ticket {
    background-color: var(--bgc-w-color);
}

.confirm-ticket>div {
    background-color: var(--gray-50-light-color);
    padding: .625rem 1.5rem;
}

/* display-card */

.ticket {
    border-bottom: var(--gray-50-color) solid 1px;

}

.ticket-item:nth-child(1) i {
    color: var(--text-color);
    font-size: 1.25rem;
}

.ticket-item .book-ticket {
    background-color: var(--primary-color);
    padding: 8px 12px;
    color: var(--bgc-w-color);
    border-radius: .375rem;
}

.ticket-item .book-ticket:hover {
    background-color: var(--primary-400-color);
}

.ticket-item .candidate {
    padding: 8px 12px;
    color: var(--primary-color);
    border-radius: .375rem;
    border: var(--primary-color) solid 1px;
}

.ticket-item .candidate:hover {
    background-color: var(--primary-light-color);
}

.spend-time,
.ticket-item .station p {
    color: var(--gray-600-color);
    margin-bottom: 0;
}

.ticket-item a:hover {
    color: var(--primary-400-color);
}

.location p,
h5,
h6,
h4 {
    margin-bottom: 0;
    color: var(--text-color);
}

.display-box-pc .ticket-content {
    padding: 2.25rem 2.5rem;
    border-bottom: var(--gray-50-color) solid 1px;

}

.ticket-content p,
.ticket-item .station p,
a {
    font-size: .75rem;
    margin-bottom: 0;
}

.ticket-item a {
    color: var(--primary-color);
}

.display-box-pc {
    display: none;
}

.screening-left a {
    font-size: .75rem;
    color: var(--primary-color);
}

.screening-left a:hover {
    color: var(--primary-400-color);
}

/* 車票第三張，無法全顯示？ */
.display-card {
    background-color: var(--bgc-w-color);
    height: 100%;
    margin-top: 1.25rem;
    /* margin-bottom: 6.25rem; */
}

.display-box {
    height: 100%;
}

.display-box-pc {
    display: ;
}

.display-card button,
.screening-left button {
    font-size: .75rem;
    border: none;
    background-color: #fff0;
    color: var(--text-color);
}

/* screening-bar */
.screening-bar {
    background-color: var(--gray-50-light-color);
    border-bottom: var(--gray-50-color) solid 1px;
    padding: .5rem 1rem;
}



/* bookingForm */
#bookingForm .form-label {
    color: var(--gray-600-color);
    font-weight: var(--semi-bold-font-weight);
}

.form-control,
.form-select {
    font-size: .75rem;
    color: var(--gray-300-color);
}

#bookingForm .select-box:nth-child(2) {
    position: relative;
    width: 20.125rem;
}



#bookingForm .station {
    width: 8.75rem;
}


#bookingForm .station>div {
    position: relative;
}

.btn-search {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

.btn-search>i {
    font-size: 1rem;
}


#bookingForm .form-check-input:checked {
    background-color: var(--primary-color);
    border-color: var(--primary-color)
}

#bookingForm .form-check-label {
    font-size: .75rem;
    color: var(--text-color);
}

#bookingForm .btn {
    color: var(--text-color);
    font-weight: var(--bold-font-weight);
}

.breadcrumb-item {
    display: flex;
    align-items: center;
}

/* search  breadcrumb*/
.search .breadcrumb-item.active:nth-child(4) {
    font-size: .75rem;
    font-weight: var(--Regular-font-weight);
    color: var(--gray-300-color)
}

.search .breadcrumb-item.active:nth-child(3) {
    font-size: .75rem;
    font-weight: var(--Regular-font-weight);
    color: var(--gray-300-color)
}

.search .breadcrumb-item a {
    font-size: .75rem;
    font-weight: var(--Regular-font-weight);
    color: var(--primary-color);
    text-decoration: none;
    line-height: 1px;
}

.search .breadcrumb-item.active:nth-child(1) {
    font-size: .75rem;
    font-weight: var(--Regular-font-weight);
    color: var(--text-color)
}

.container {
    padding: 1.5rem;
    margin-top: 4.75rem;
}

/* search */
.search {
    background-color: var(--bgc-w-color);
    padding: 1.5rem;

}

.select-box {
    margin-bottom: .75rem;
}

/* main */

.confirm-box {
    display: none;
}

main {
    height: 100%;
    padding-bottom: 20%;
}

main h2 {
    font-weight: var(--semi-bold-font-weight);
    margin: 1.5rem 0;
}

.bg {
    position: absolute;
    background-color: var(--bgc-b-color);
    height: 40.875rem;
    width: 100%;
    z-index: -1;
}

main .container {
    height: 100%;
}

/* main .contents {
    padding: 0 1.5rem;

} */

/* header */

.navbar-toggler-icon {
    color: var(--text-color);
}

.navbar-nav li {
    margin-right: auto;
}

.navbar-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 26.25rem;
}

.navbar-2 .btn-translate,
.navbar-2 .btn-translate>i {
    color: var(--gray-600-color);
    margin-bottom: 1rem;
}


.navbar-2 .btn-log {
    border: none;
    background-color: var(--primary-color);
    color: var(--bgc-w-color);
}

.navbar-2 .btn-log:hover,
.btn-checkout:hover {
    background-color: var(--primary-400-color)
}

.nav-link {
    color: var(--text-color);
}

.nav-link:hover {
    color: var(--primary-color);
}

.nav-link:active {
    color: var(--primary-color);
}

.navbar-2 button {
    margin-top: 1rem;
}

.navbar-2>form {
    margin-top: 1rem;
}

.navbar-2 .btn-search {
    margin-top: 0;
}

.navbar-2>form {
    position: relative;
    width: 12.1875rem;
}




@media screen and (min-width: 767px) {
    .bg {
        height: 38.875rem;
    }

    #bookingForm .station {
        width: 16.875rem;
    }

    form .form-item {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-bottom: 1.25rem;
    }

    form .form-item:nth-last-child(2) {
        display: block;
    }

    form .form-item:last-child {
        margin-bottom: 0;
    }

    .select-box {
        margin-bottom: 0;
        margin-right: 1.25rem;
    }

    .confirm-ticket {
        display: none;
    }

    /* main */
    /* display-box */
    .display-box .ticket {
        display: none;
    }

    .display-box-pc {
        display: block;
    }

    /* search-box */
    .search-box {
        width: 75%;
        margin-right: 1.25rem;
    }

    .screening-left a {
        margin-right: 1.25rem;
    }

    /* confirm-box */

    .confirm-box .btn-checkout {
        margin-top: 1.25rem;
    }

    .confirm-box .total {
        padding: 1rem;
        background-color: var(--gray-50-light-color);
    }

    .confirm-box .total p {
        margin-bottom: 0;
        font-size: .75rem;
        color: var(--gray-600-color);
    }

    .confirm-box .ticket-box {
        padding: 0 1rem;
    }

    .confirm-box {
        display: block;
        width: 25%;
    }

    .confirm-box>.confirm-item>h5 {
        padding: 1rem;
        border-bottom: var(--gray-50-color) solid 1px;
        font-weight: var(--bold-font-weight);
    }

    .passenger {
        margin-right: 1.25rem;
    }



    main h2 {
        margin: 32px 0;
    }

    /* header */


    .navbar-nav li {
        margin-right: 0;
    }

    .navbar-2 {
        margin-top: 52.5rem;
    }



}

@media screen and (min-width: 1200px) {
    .navbar-2 {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-top: 0;
    }

    .navbar-2>form {
        margin-top: 0rem;
    }


    .navbar-nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-2 button {
        margin-top: 0rem;
        margin-left: 1rem;
    }

    .navbar-2 .btn-translate {
        margin-bottom: 0;
    }

    .navbar-nav li {
        margin-right: 1rem;
    }

    form .form-item:nth-last-child(2) {
        display: flex;
    }

    .bg {
        height: 34.5625rem;
    }

    .passenger-pc,
    .train-pc {
        display: block;
        width: 18.125rem;
    }



    .passenger,
    .train {
        display: none;
    }
}